/****************************************
 * Colors
 ****************************************/

$color-white:         #ffffff;
$color-black:         #000000;
$color-gray:          #dddddd;
$color-blue:          #2faef1;
$color-purple:        #987fc3;
$color-red:           #D11818;
$color-dark-red:      #911111;
$color-green:         #5cd65c;