/************************************************************
 *
 * Base
 *
 ************************************************************/

body {
    //background: url("bg.png") no-repeat center top fixed;
    color: $color-black;
    font-size: 14px;
    font-family: 'Lato', 'Open Sans', sans-serif;
}

main {
    margin: 0 auto 10px;
    padding: 0 10px;
    min-height: 600px;
    max-width: 1200px;

    @include media-query(tab-and-up) {
        margin: 0 auto 40px;
        padding: 0 40px;
    };
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

p {
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: $color-red;
}

table {
    border-radius: 3px;
    border-collapse: collapse;
    border-spacing: 0;
}

tr th, tr td {
    text-align: left;
    padding: 10px 15px;
    border: 1px solid $color-gray;
}

a:hover, a:active, a:focus {
    text-decoration: underline;
    color: $color-dark-red;
}

.wrapper {
    @include clearfix;
    padding: 0 10px;
    margin: 0 auto;
    max-width: 1200px;

    @include media-query(tab-and-up) {
        padding: 0 40px;
    };
}

.heading {
    margin-top: 40px;

    @include media-query(lap-and-up) {
        margin-top: 0;
    };
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;

    @include media-query(tab-and-up) {
        margin-bottom: 40px;
    };
}

.table tr {
    margin-bottom: 10px;

    @include media-query(tab-and-up) {
        margin-bottom: 0;
    };
}

.table tbody tr td {
    border: none;
    padding: 2px;

    @include media-query(lap-and-up) {
        border: 1px solid $color-gray;
        padding: 8px;
    };
}

.table tr td {
    display: block;
    border: none;

    @include media-query(lap-and-up) {
        display: table-cell;
        border: 1px solid $color-gray;
    };
}

.table tr td:first-child {
    background-color: $color-dark-red;
    font-weight: 700;
    padding: 5px;

    @include media-query(lap-and-up) {
        background-color: $color-white;
        font-weight: normal;
        padding: 8px;
    };
}

.table tr td:first-child a {
    color: $color-white;
    cursor: pointer;

    @include media-query(lap-and-up) {
        color: $color-red;
    };
}

.table tr td:last-child {
    padding-bottom: 20px;

    @include media-query(lap-and-up) {
        padding-bottom: 8px;
    };
}

.table-head {
    display: none;

    @include media-query(lap-and-up) {
        display: table-row;
    };
}

.latest {
    text-align: center;
    background-color: $color-black;
    color: $color-white;
    padding: 10px 0;

    @include media-query(lap-and-up) {
        text-align: left;
        background-color: $color-white;
        color: $color-black;
        padding: 0;
    };
}

.mobile-description {
    display: inline-block;
    width: 120px;

    @include media-query(lap-and-up) {
        display: none;
    };
}

.table tr td:first-child.no-results {
    background-color: $color-white;
    color: $color-black;
    vertical-align: middle;
    padding: 20px 0;
    font-weight: normal;
}

.info-block {
    margin-bottom: 20px;

    @include media-query(tab-and-up) {
        margin-bottom: 40px;
    };
}

.panel-default > .panel-heading {
    color: $color-white;
    background-color: $color-dark-red;
    text-align: center;
}

.alert {
    padding: 10px 40px;
}

.alert p {
    padding-bottom: 0;
}

.alert-dismissable .close {
    right: 0;
}

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    background-color: $color-white;
}

.open > .btn-default.dropdown-toggle,
.open > .btn-default.dropdown-toggle:hover,
.open > .btn-default.dropdown-toggle:active,
.open > .btn-default.dropdown-toggle:focus {
    background-color: $color-white;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important;
}

.dropdown-menu {
    position: static;
    color: $color-dark-red;
    border: 1px solid $color-black;
    border-radius: 3px;
    box-shadow: none;
    padding: 5px;

    @include media-query(tab-and-up) {
        position: absolute;
    };
}

.dropdown-menu > .active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:active {
    background-color: $color-red;
    color: $color-white;
}

.dropdown-menu.-nav {
    background-color: $color-dark-red;
    color: $color-gray;
    box-shadow: none;
    border: none;

    @include media-query(tab-and-up) {
        border: 1px solid $color-black;
        border-radius: 3px;
        padding: 5px;
    };
}

.dropdown-menu.-nav > .active > a  {
    background-color: $color-white;
    color: $color-black;
}