/************************************************************
 *
 * Base
 *
 ************************************************************/

body {
    //background: url("bg.png") no-repeat center top fixed;
    color: $color-black;
    font-size: 14px;
    font-family: 'Lato', 'Open Sans', sans-serif;
}

main {
    margin: 0 auto;
    padding: 0 40px;
    min-height: 600px;
    max-width: 1200px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

p {
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: $color-red;
}

table {
    border-radius: 3px;
    border-collapse: collapse;
    border-spacing: 0;
}

tr th, tr td {
    text-align: left;
    padding: 10px 15px;
    border: 1px solid $color-gray;
}

a:hover, a:active, a:focus {
    text-decoration: underline;
    color: $color-dark-red;
}

.wrapper {
    @include clearfix;
    padding: 0 40px;
    margin: 0 auto;
    max-width: 1200px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.info-block {
    margin-bottom: 40px;
}

.panel-default > .panel-heading {
    color: $color-white;
    background-color: $color-dark-red;
    text-align: center;
}

.dropdown-menu {
    background-color: $color-dark-red;
    color: $color-gray;
    border: 1px solid $color-black;
    border-radius: 3px;
    box-shadow: none;
    padding: 5px;
}