/************************************************************
 *
 * Header
 *
 ************************************************************/

header {
    padding: 10px 0;
    background-color: $color-dark-red;
}

.logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Metamorphous', cursive;
}

.logo:hover {
    color: $color-white;
    text-decoration: none;
}

.nav {
    line-height: 2.3rem;
}

.nav .open a,
.nav .open a:hover,
.nav .open a:active,
.nav .open a:focus {
    background: none;
    border: none;
}

.nav > li {
    display: inline-block;
}

.nav > li a {
    text-decoration: none;
    color: $color-gray;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    padding: 5px 10px;
}

.nav > li a:hover, .nav > li a:focus {
    color: $color-white;
    background: none !important;
}