
// Fonts
@import url('https://fonts.googleapis.com/css?family=Metamorphous|Open+Sans:400,700|Roboto:400,700');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Plugins
@import "bootstrap-select";

html {
    background: #000000;
}

body {
    background: url("bg.png") no-repeat center top fixed;
    color: #222222;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 60px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    letter-spacing: 3px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #D11818;
}

a:hover {
    color: #911111;
}

table {
    background-color: #ffffff;
    border-radius: 3px;
}

table tr th {
    font-weight: bold;
}

header h1, header h2 {
    font-family: 'Metamorphous', cursive;
    color: #dddddd;
}

main {
    padding-top: 40px;
    min-height: 600px;
}

footer {
    background-color: #911111;
    color: #bbbbbb;
    padding: 15px 60px;
    margin-top: 40px;
    display: flex;
}

footer .disclaimer {
    flex: 1;
    vertical-align: middle;
    margin: 0;
}

footer .copyright {
    flex: 1;
    text-align: right;
    vertical-align: middle;
    margin: 0;
}

.wrapper {
    margin: 0 60px;
    padding-top: 50px;
    min-height: 600px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: #911111;
    color: #ffffff;
    border: none;
}

.navbar-inverse .navbar-form {
    border: none;
    box-shadow: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #bbbbbb;
    background: none;
}

.container-fluid {
    padding: 0 60px;
}

.navbar-form .input-group .input-group-btn {
    width: 1%;
}

.text-white {
    color: #ffffff;
}

.bg-white {
    background-color: #ffffff;
}

.btn-blood {
    color: #222222;
    background: #ffffff;
    border: 1px solid #ccd0d2;
}

.btn-blood:hover {
    color: #D11818;
}

.form-control {
    color: #222222;
}

.form-control:focus {
    border-color: #D11818;
    box-shadow: 0 0 8px rgba(209, 24, 24, .6);
}

.table-responsive {
    border-radius: 3px;
}

.table tbody tr td, .table tbody tr th {
    padding: 10px;
}

.info-block {
    margin-bottom: 40px;
}

.heading {
    margin-bottom: 20px;
}

.container-padding {
    padding: 20px;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
    vertical-align: middle;
}

.alert {
    padding: 15px 80px;
    margin: 50px 0 0;
    border: none;
    border-radius: none;
}

.alert-success {
    background-color: #00b300;
    color: #ffffff;
}

.alert-dismissable .close {
    color: #ffffff;
    opacity: 0.8;
    right: 0;
}

.btn-danger {
    background-color: #D11818;
}

.btn-danger:hover {
    background-color: #911111;
}

.btn-primary {
    background-color: #4d94ff;
}

.btn-primary:hover {
    background-color: #0066FF;
}

#search-input {
    width: 100%;
}

#search-results {
    position: fixed;
    box-sizing: border-box;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
    border: 3px solid #911111;
    border-top: none;
    padding: 0 20px;
    margin: 0 auto;
}

#search-results .row {
    box-sizing: border-box;
    padding: 10px 0;
    border-bottom: 1px solid #911111;
}

#order-pagination {
    margin: 20px auto;
    max-width: 200px;
}

.ais-pagination {
    padding: 0;
    margin: 0;
}

.hit-content {
    margin: 0 15px;
}

#order-stats {
    margin: 15px 10px 10px;
    font-style: italic;
}

#order-no-results-message {
    margin: 15px 10px 0;
    font-style: italic;
}
